@model FootBallPlayer.ViewModels.HomePlayerViewModel
@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

<style type="text/css">

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
</style>
@using Microsoft.AspNet.Identity
<div class="eltdf-full-width" style="margin-top:10px;position: inherit">
    <div style="margin-top:30px;margin-left:1800px">
        @if (User.Identity.IsAuthenticated)
        {

            @*@Html.ActionLink("Edit", "Edit", new { id = Model.PlayerUserId })">*@

            <div data-toggle="modal" data-target="#myModal" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent" data-upgraded=",MaterialButton,MaterialRipple" style="margin-right:0">
                <label for="file-upload" class="custom-file-upload">
                    <i class="material-icons mdl-color-text--white" role="presentation">add</i>
                </label>
                <input id="file-upload" type="file" />

            </div>
        }
    </div>
    <div class="eltdf-full-width-inner">

        <div class="eltdf-grid-row">
            <div class="eltdf-page-content-holder eltdf-grid-col-12 " style="margin-top:15px">

                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="eltdf-portfolio-list-holder eltdf-pl-masonry eltdf-no-space eltdf-pl-four-columns eltdf-pl-gallery-overlay eltdf-pl-images-fixed   eltdf-pl-pag-no-pagination        " data-type=masonry data-number-of-columns=4 data-space-between-items=no data-number-of-items=-1 data-space-between-items-justified=small data-image-proportions=full data-enable-fixed-proportions=yes data-enable-image-shadow=no data-category=lifestyle data-orderby=date data-order=ASC data-item-style=gallery-overlay data-item-style-justified=gallery-overlay data-enable-title=yes data-title-tag=h3 data-enable-category=yes data-enable-count-images=yes data-enable-excerpt=no data-excerpt-length=20 data-pagination-type=no-pagination data-filter=no data-filter-order-by= name data-enable-article-animation=no data-enable-parallax-animation=no data-article-mask-color=#fff data-portfolio-slider-on=no data-enable-fullheight=yes data-portfolio-slider-full-height-decrease=yes data-enable-loop=yes data-enable-autoplay=yes data-slider-speed=5000 data-slider-speed-animation=600 data-enable-navigation=yes data-enable-pagination=yes data-max-num-pages=0 data-next-page=2>

                                    <div class="eltdf-pl-inner eltdf-outer-space clearfix">

                                        @if (Model.Images.Count() == 0)
                                        {

                                        }
                                        else
                                        {
                                            for (int i = 0; i < Model.Images.Count; i++)
                                            {
                                                <div class="eltdf-pl-grid-sizer"></div>
                                                <div class="eltdf-pl-grid-gutter"></div>

                                                <article class="eltdf-pl-item eltdf-item-space eltdf-pl-masonry-large-width post-120 portfolio-item type-portfolio-item status-publish has-post-thumbnail hentry portfolio-category-lifestyle portfolio-tag-black-white portfolio-tag-fashion portfolio-tag-portraits">
                                                    <div class="eltdf-pl-item-inner">
                                                        <div class="eltdf-pli-image">
                                                            <img width="1100" height="550" src="~/Files/PlayerPage/@Model.Images[i].Name" class="attachment-nightshade_elated_landscape size-nightshade_elated_landscape wp-post-image" alt="a" />
                                                        </div>
                                                        <div class="eltdf-pli-text-holder">
                                                            <div class="eltdf-pli-text-wrapper">
                                                                <div class="eltdf-pli-text">
                                                                    <h3 itemprop="name" class="eltdf-pli-title entry-title">
                                                                        Decorations		<span class="eltdf-pli-line"></span>
                                                                    </h3>

                                                                    <div class="eltdf-pli-category-holder">
                                                                        <a itemprop="url" class="eltdf-pli-category" href="~/Files/PlayerPage/@Model.Images[i].Name">Lifestyle</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a itemprop="url" class="eltdf-pli-link eltdf-block-drag-link" href="~/Files/PlayerPage/@Model.Images[i].Name" target="_self"></a>
                                                    </div>
                                                </article>

                                            }
                                        }


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary btn-lg" >
        Launch demo modal
    </button>*@

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            @using (Html.BeginForm("Photos",
            "PlayerHomeController", FormMethod.Post,
            new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
            <div class="modal-body">


                    <div class="form-group" style="text-align:center">
                        <div class="col-md-offset-2 col-md-10" style=" display: -webkit-box;">
                            <label style="margin-right:20px">Image</label>
                            <input type="file" name="file" style="display:block" onchange="readURL(this);" />


                        </div>
                    </div>
               
                <div style="text-align:center">
                    <img id="blah" src="#" alt="your image"  style="margin-top:30px"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                <input type="submit" class="btn btn-primary" value="Update" />
                       @* <input  type="submit" value="Save" class="zn_contact_submit btn btn-fullcolor btn-custom-color btn--square  btn-md" />*@
              
            </div>
            }
        </div>
    </div>
</div>
<footer class="eltdf-page-footer">

    <div class="eltdf-footer-bottom-holder">
        <div class="eltdf-footer-bottom-inner eltdf-grid">
            <div class="eltdf-grid-row ">
                <div class="eltdf-grid-col-12">
                    <div id="text-6" class="widget eltdf-footer-bottom-column-1 widget_text">
                        <div class="textwidget">
                            <p>Copyright FootBollPlayer All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(400)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>