@{
    ViewBag.Title = "Contact";
}
<div class="zn_separator clearfix eluid9bc9eabf zn_separator--icon-no "></div>
<section class="zn_section eluid63f0c71a     section-sidemargins    section--no " id="eluid63f0c71a" style="height:1000px">
    <div class="zn_section_size container zn-section-height--auto zn-section-content_algn--top ">
        <div class="row ">
            <div class="eluid50fcd246      col-md-12 col-sm-12   znColumnElement" id="eluid50fcd246">
                <div class="znColumnElement-innerWrapper-eluid50fcd246 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                    <div class="znColumnElement-innerContent">
                        <div class="zn_text_box eluid7d297e35  zn_text_box-light element-scheme--light">
                            <h1 style="text-align: center;"><span style="font-family: roboto; font-weight: 300;"><span style="font-size: 44px;"><span style="color: #000000;">Contact</span></span></span></h1>
                        </div>
                        <div class="zn_contact_form_container contactForm cf-elm eluidcf4f7ad9 zn-cform cf--light element-scheme--light  ">
                            <form action="#" id="form_eluidcf4f7ad9" method="post" class="zn_contact_form contact_form cf-elm-form row " data-redirect="">
                                <div class="col-sm-4  kl-material-form zn_form_field zn_cf_select">
                                    <label class="control-label kl-font-alt kl-material-form-label">Select Departments</label>
                                    <select name="zn_form_field_select_departments1_0" id="zn_form_field_select_departments1_0" class="zn_form_input form-control form-control--light kl-material-form-select zn_validate_not_empty">
                                        <option value="presale">Presale</option>
                                        <option value="billing">Billing and Account</option>
                                        <option value="affiliate">Affiliate Program</option>
                                        <option value="technical">Technical Support</option>
                                        <option value="abuse">Abuse and piracy</option>
                                    </select>
                                </div>
                                <div class="col-sm-4  kl-material-form zn_form_field zn_cf_text">
                                    <input type="text" name="zn_form_field_name1_1" id="zn_form_field_name1_1" value="" class="zn_form_input zn-field-text form-control  kl-material-form-input zn_validate_not_empty " />
                                    <label for="zn_form_field_name1_1" class="control-label kl-font-alt kl-material-form-label">Name</label>
                                </div>
                                <div class="col-sm-4  kl-material-form zn_form_field zn_cf_text">
                                    <input type="text" name="zn_form_field_phone1_2" id="zn_form_field_phone1_2" value="" class="zn_form_input zn-field-text form-control  kl-material-form-input zn_validate_is_numeric " />
                                    <label for="zn_form_field_phone1_2" class="control-label kl-font-alt kl-material-form-label">Phone</label>
                                </div>
                                <div class="col-sm-6  kl-material-form zn_form_field zn_cf_text">
                                    <input type="text" name="zn_form_field_email1_3" id="zn_form_field_email1_3" value="" class="zn_form_input zn-field-text form-control  kl-material-form-input zn_validate_is_email " />
                                    <label for="zn_form_field_email1_3" class="control-label kl-font-alt kl-material-form-label">Email</label>
                                </div>
                                <div class="col-sm-6  kl-material-form zn_form_field zn_cf_datepicker">
                                    <div class="kl-material-form-inpwrapper clearfix">
                                        <div class="kl-material-form-col-wrapper kl-material-form-date-wrapper">
                                            <input onfocus="blur();" type="text" name="zn_form_field_deadline1_4[date]" id="zn_form_field_deadline1_4[date]" value="" class="zn_form_input zn-field-datepicker form-control form-control--light kl-material-form-input kl-material-form-date zn_fr_date_picker zn_validate_not_empty" />
                                            <label for="zn_form_field_deadline1_4[date]" class="control-label kl-font-alt kl-material-form-label">Deadline</label>
                                        </div>
                                        <div class="kl-material-form-col-wrapper kl-material-form-time-wrapper">
                                            <input onfocus="blur();" type="text" name="zn_form_field_deadline1_4[time]" id="zn_form_field_deadline1_4[time]" value="" class="zn_form_input zn-field-datepicker form-control form-control--light kl-material-form-input kl-material-form-time zn_fr_time_picker zn_validate_not_empty" data-timeformat="g:i a" />
                                            <label for="zn_form_field_deadline1_4[time]" class="control-label kl-font-alt kl-material-form-label">More precisely</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12  kl-material-form zn_form_field zn_cf_textarea">
                                    <textarea name="zn_form_field_message1_5" class="zn_form_input form-control  kl-material-form-textarea zn_validate_not_empty " id="zn_form_field_message1_5" cols="40" rows="6"></textarea>
                                    <label for="zn_form_field_message1_5" class="control-label kl-font-alt kl-material-form-label">Message</label>
                                </div>
                                <div class="col-sm-12  kl-material-form zn_form_field zn_cf_hidden">
                                    <input type="hidden" name="zn_pb_form_submit_1" id="zn_pb_form_submit_1" value="1" class="zn_form_input zn_validate_none" />
                                </div>
                                <div class="col-sm-12">
                                    <div class="zn_contact_ajax_response titleColor" id="zn_form_id1"></div>
                                    <div class="zn_submit_container text-left">
                                        <button class="zn_contact_submit btn btn-fullcolor btn-custom-color btn--square  btn-md" type="submit">Make an Appointment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
