@model FootBallPlayer.ViewModels.HomePlayerViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="zn_pb_wrapper clearfix zn_sortable_content" data-droplevel="0">
    <section class="zn_section eluidd85ca84f     section-sidemargins    section--no " id="eluidd85ca84f">
        <div class="zn_section_size full_width zn-section-height--auto zn-section-content_algn--top ">
            <div class="row ">
                <form action="~/Home/Search">
                    @Html.TextBox("SearchString", null, new { @class = "in in1", placeholder = "Search here" })
                </form>
                <div class="eluid68dc4ddc      col-md-12 col-sm-12   znColumnElement" id="eluid68dc4ddc">
                    <div class="znColumnElement-innerWrapper-eluid68dc4ddc znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                        <div class="znColumnElement-innerContent">
                            <div class="zn_text_box eluidfdd01e84  zn_text_box-light element-scheme--light">
                                <h1 style="text-align: center;"><span style="font-family: roboto; font-weight: 300;"><span style="font-size: 44px;"><span style="color: #000000;">Players</span></span></span></h1>
                            </div>
                            <div class=" eluid007bdd67 gridPhotoGallery mfp-gallery mfp-gallery--misc gridPhotoGallery--ratio-short gridPhotoGallery--cols-5 gpg-gutter--0   gridPhotoGallery--scheme-light" data-cols="5" data-layout="masonry">
                                <div class="gridPhotoGallery__item gridPhotoGallery__item--sizer"></div>

                                @for (int i = 0; i < Model.Players.Count; i++)
                                {
                                    <div class="gridPhotoGallery__item gridPhotoGalleryItem--w1 gridPhotoGallery-item--scheme- ">
                                        <a title="@Model.Players[i].FullName" class="gridPhotoGalleryItem--h1 gridPhotoGallery__link kl-fontafter-alt gridPhotoGallery__link-anim--zoomin"
                                           href="../PlayerHomeController/Index/@Model.Players[i].PlayerId">
                                            @for (int j = 0; j < Model.Images.Count; j++)
                                            {
                                                <span class="gridPhotoGallery__imgAnimWrapper">
                                                    <img class="gridPhotoGallery__img cover-fit-img"
                                                         src="~/Files/PlayerPage/@Model.Images[i].Name" width="600" height="" alt="" title=""><i class="kl-icon glyphicon glyphicon-search circled-icon ci-medium"></i>
                                                </span>
                                            }
                                        </a>
                                    </div>
                                }





                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div style="height:600px; background-color:white"></div>

    <div class="media-container eluidcdd83061  media-container--type-pb kl-overlay-none  ">
        <div class="zn-bgSource zn-bgSource-imageParallax js-znParallax">
            <div class="zn-bgSource-image" style="background-image:url(/Content/Second/images/stadium-wallpaper-2880x1800.jpg);background-repeat:no-repeat;background-position:center center;background-size:cover"></div>
            <div class="zn-bgSource-overlay" style="background-color:rgba(51,51,51,0.3)"></div>
        </div>
        <div class="media-container-pb media-container-pb--alg-center">
            <div class="row zn_col_container-media_container ">
                <div class="eluid6fcf0851      col-md-12 col-sm-12   znColumnElement" id="eluid6fcf0851">
                    <div class="znColumnElement-innerWrapper-eluid6fcf0851 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-center znColumnElement-innerWrapper--halign-left  js-doObjParallax zn-objParallax zn-objParallax--ease-linear" data-rellax-speed="-3" data-rellax-percentage="0.5">
                        <div class="znColumnElement-innerContent">
                            <div class="zn_text_box eluid5b9fbee7  zn_text_box-light element-scheme--light">

                            </div>
                            <div class="zn_text_box eluid79c88878  zn_text_box-light element-scheme--light">
                                <h6 style="text-align: center;"><span style="font-family: roboto; font-weight: 300; color: #ffffff;"><span style="font-size: 44px;">Start With Us</span></span></h6>
                            </div>
                            <div id="eluid8515c784" class="zn_buttons_element eluid8515c784 text-center btnwhitetext"><a href="~/Account/Register" id="eluid8515c7840" class="eluid8515c7840 btn-element btn-element-0 btn  btn-lined btn-custom-color   zn_dummy_value btn-icon--before btn--square" data-target="smoothscroll" itemprop="url">Sing Up<span></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="zn_section eluid0e2aa831     section-sidemargins    section--no " id="eluid0e2aa831">
    <div class="zn_section_size container zn-section-height--auto zn-section-content_algn--top ">
        <div class="row ">

            <div class="eluidbd40ea09      col-md-6 col-sm-6   znColumnElement" id="eluidbd40ea09">
                <div class="znColumnElement-innerWrapper-eluidbd40ea09 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                    <div class="znColumnElement-innerContent">
                        <div class="zn_text_box eluidcf8b4b91  zn_text_box-light element-scheme--light">
                            <h1 style="text-align: center;"><span style="font-size: 14px; color: #333333;"><span style="font-family: montserrat;"><span style="letter-spacing: 4px;">Number Of Players</span></span></span></h1>
                        </div> <div class="zn_separator clearfix eluid85769e88 zn_separator--icon-no "></div>
                        <div class="zn-counterElm eluid7b1dd494 text-center  zn-counterElm-fadeIn is-appeared" data-zn-count="{&quot;from&quot;:&quot;0&quot;,&quot;to&quot;:&quot;15&quot;,&quot;speed&quot;:&quot;2000&quot;,&quot;refreshInterval&quot;:&quot;100&quot;,&quot;decimals&quot;:&quot;0&quot;}">@Model.Players.Count()</div>
                    </div>
                </div>
            </div>
            <div class="eluid7cf9c640      col-md-6 col-sm-6  znColumnElement" id="eluid7cf9c640">
                <div class="znColumnElement-innerWrapper-eluid7cf9c640 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                    <div class="znColumnElement-innerContent">
                        <div class="zn_text_box eluidd0c62c7b  zn_text_box-light element-scheme--light">
                            <h1 style="text-align: center;"><span style="font-size: 14px; color: #333333;"><span style="font-family: montserrat;"><span style="letter-spacing: 4px;">Number Of Users</span></span></span></h1>
                        </div> <div class="zn_separator clearfix eluidd5a4c376 zn_separator--icon-no "></div>

                        <div class="zn-counterElm eluidf90317db text-center  zn-counterElm-fadeIn is-appeared" data-zn-count="{&quot;from&quot;:&quot;0&quot;,&quot;to&quot;:&quot;23&quot;,&quot;speed&quot;:&quot;3000&quot;,&quot;refreshInterval&quot;:&quot;50&quot;,&quot;decimals&quot;:&quot;0&quot;}"> @Model.Vister.Count() </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<div class="znColumnElement-innerWrapper-eluid15b06d06 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-center znColumnElement-innerWrapper--halign-center ">
    <div class="znColumnElement-innerContent">
        <div class="zn_custom_container eluid37f3ad47  smart-cnt--default   clearfix">
            <div class="row zn_col_container-smart_container ">
                <div class="eluid9dc3ea0b      col-md-2 col-sm-4 col-xs-6  znColumnElement" id="eluid9dc3ea0b">
                    <div class="znColumnElement-innerWrapper-eluid9dc3ea0b znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                        <div class="znColumnElement-innerContent"> <div id="eluid5e7ab479" class="zn_buttons_element eluid5e7ab479 text-left button-ftr"><a href="#" id="eluid5e7ab4790" class="eluid5e7ab4790 btn-element btn-element-0 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Why</span></a><a href="#" id="eluid5e7ab4791" class="eluid5e7ab4791 btn-element btn-element-1 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>How</span></a><a href="#" id="eluid5e7ab4792" class="eluid5e7ab4792 btn-element btn-element-2 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Solutions</span></a></div> </div>
                    </div>
                </div>
                <div class="eluid8d640f12      col-md-2 col-sm-4 col-xs-6  znColumnElement" id="eluid8d640f12">
                    <div class="znColumnElement-innerWrapper-eluid8d640f12 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                        <div class="znColumnElement-innerContent"> <div id="eluiddc066add" class="zn_buttons_element eluiddc066add text-left button-ftr"><a href="#" id="eluiddc066add0" class="eluiddc066add0 btn-element btn-element-0 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Platform</span></a><a href="#" id="eluiddc066add1" class="eluiddc066add1 btn-element btn-element-1 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Become a Mentor</span></a><a href="#" id="eluiddc066add2" class="eluiddc066add2 btn-element btn-element-2 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Sign In</span></a></div> </div>
                    </div>
                </div>
                <div class="eluid28bb2c66      col-md-2 col-sm-4 col-xs-6  znColumnElement" id="eluid28bb2c66">
                    <div class="znColumnElement-innerWrapper-eluid28bb2c66 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                        <div class="znColumnElement-innerContent"> <div id="eluid8a9af3d1" class="zn_buttons_element eluid8a9af3d1 text-left button-ftr"><a href="#" id="eluid8a9af3d10" class="eluid8a9af3d10 btn-element btn-element-0 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Service 1</span></a><a href="#" id="eluid8a9af3d11" class="eluid8a9af3d11 btn-element btn-element-1 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Service 2</span></a><a href="#" id="eluid8a9af3d12" class="eluid8a9af3d12 btn-element btn-element-2 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Service 3</span></a></div> </div>
                    </div>
                </div>
                <div class="eluid20025fa9      col-md-2 col-sm-4 col-xs-6  znColumnElement" id="eluid20025fa9">
                    <div class="znColumnElement-innerWrapper-eluid20025fa9 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                        <div class="znColumnElement-innerContent"> <div id="eluid6628399d" class="zn_buttons_element eluid6628399d text-left button-ftr"><a href="#" id="eluid6628399d0" class="eluid6628399d0 btn-element btn-element-0 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>About us</span></a><a href="#" id="eluid6628399d1" class="eluid6628399d1 btn-element btn-element-1 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Press</span></a><a href="#" id="eluid6628399d2" class="eluid6628399d2 btn-element btn-element-2 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Meet The Team</span></a></div> </div>
                    </div>
                </div>
                <div class="eluida22d054f      col-md-2 col-sm-4 col-xs-6  znColumnElement" id="eluida22d054f">
                    <div class="znColumnElement-innerWrapper-eluida22d054f znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                        <div class="znColumnElement-innerContent"> <div id="eluide2090b94" class="zn_buttons_element eluide2090b94 text-left button-ftr"><a href="#" id="eluide2090b940" class="eluide2090b940 btn-element btn-element-0 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Blog</span></a><a href="#" id="eluide2090b941" class="eluide2090b941 btn-element btn-element-1 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Careers</span></a><a href="#" id="eluide2090b942" class="eluide2090b942 btn-element btn-element-2 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Contact</span></a></div> </div>
                    </div>
                </div>
                <div class="eluid8bc52037      col-md-2 col-sm-4 col-xs-6  znColumnElement" id="eluid8bc52037">
                    <div class="znColumnElement-innerWrapper-eluid8bc52037 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                        <div class="znColumnElement-innerContent"> <div id="eluid42cc88e3" class="zn_buttons_element eluid42cc88e3 text-left button-ftr"><a href="#" id="eluid42cc88e30" class="eluid42cc88e30 btn-element btn-element-0 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Privacy Policy</span></a><a href="#" id="eluid42cc88e31" class="eluid42cc88e31 btn-element btn-element-1 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Terms of Use</span></a><a href="#" id="eluid42cc88e32" class="eluid42cc88e32 btn-element btn-element-2 btn  btn-link btn-sm  btn-block btn-icon--before btn--rounded" target="_self" itemprop="url"><span>Cookie Policy</span></a></div> </div>
                    </div>
                </div>
                <div class="eluidf884a3d7      col-md-12 col-sm-12   znColumnElement" id="eluidf884a3d7">
                    <div class="znColumnElement-innerWrapper-eluidf884a3d7 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-center ">
                        <div class="znColumnElement-innerContent">
                            <div class="zn_text_box eluid5441db06  zn_text_box-light element-scheme--light">
                                <h1 style="text-align: center;"><span style="font-size: 14px; color: #333333;"><span style="font-family: montserrat;"><span style="letter-spacing: 4px;">WEEKLY INSIGHTS</span></span></span></h1>
                            </div>
                            <div class="elm-nlbox eluidb6443a12 ftr-newsletter nlbox--style-lined_dark nlbox--layout-single">
                                <form method="post" class="elm-nlbox__form clearfix" data-url="https://demo.kallyas.net/sidefolio/" name="newsletter_form">
                                    <input type="text" name="zn_mc_email" class="elm-nlbox__input nl-email form-control btn--square" value="" placeholder="emailaddress@email.com" required="required">
                                    <button type="submit" name="submit" class="elm-nlbox__submit nl-submit btn--square">
                                        Sign me up
                                    </button>
                                    <input type="hidden" name="zn_list_class" class="nl-lid" value="acc4aa1f3d">
                                    <input type="hidden" value="5e9dc61896" class="zn_hg_mailchimp">
                                </form>
                                <div class="elm-nlbox__result zn_mailchimp_result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
